span{
    color:black;
}
.product{
    background-color:grey;
    padding:.5rem;
    border-radius:.5rem;
    width:70%;
    margin:.5rem auto;
    display:flex;
    align-items:center;
    justify-content:space-between
}
p{
    color:white;
}
.product img{
    width:100px
}
.updateProduct{
    text-decoration: none;
    background-color: rgb(50, 61, 61);
    color: white;
    padding: .2rem;
    border-radius: .2rem;

}